body, html {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0;
}
#game {
  background-color: #E7E7E7;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.board {
  background-color: #bababa;
  display: flex;
  flex-direction: column;
  height: calc( 100% - 30px );
  margin: 15px;
  box-shadow: 0 0 10px #666;
}
.row {
  flex: 1 1;
  display: flex;
}
.cell {
  position: relative;
  flex: 1 1;
  border: 5px solid #bababa;
  cursor: pointer;
  border-radius: 33%;
}
.zero {
  background-color: #c7c7c7;
}
.one {
  background-color: #555;
}
.hint {
  border-color: #777;
}
.controls {
  width: calc( 100% - 30px );
  height: 60px;
  margin: 15px;
}
.controls .message {
  text-align: center;
  height: 2em;
}
.controls .buttons {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}
